{% extends "layout.html" %}
{% block title %}Navigator{% endblock %}
{% block content %}

  <div>
    Current path: {{ cur_dir }}
  </div>

   <div class="dropdown">
    <button class="dropbtn">Navigation</button>
    <div class="dropdown-content">
      {% for nav_dir in nav_dirs %}
        <a href="{{ url_for('render_navigation_with_path', rel_dir_no_slash=nav_dir) }}"
           title="{{ nav_dir }}"
        >
          .{{ nav_dir }}
        </a>
      {% endfor %}
    </div>
  </div>

  <div id="gallery">
    <form action="/update" method="post">
      <input type="submit" value="Submit">
      {% for key in keys %}
        <figure>
          <input type="checkbox" id="{{ key }}" name="impression" value="{{ key }}">
          <img id="{{ key }}_display" src="{{ url_for('get_thumbnail', key=key) }}">
          <figcaption> {{ key.split('/')[-1] }} </figcaption>
        </figure>
      {% endfor %}
    </form>
  </div>


<div>
  <iframe frameborder="0" noresize="noresize"
        style='background: transparent; width: 100%;  height:100%;'
        src="{{ url_for('content')}}">
 </iframe>
</div>

{% endblock %}
