{% extends "layout.html" %}
{% block title %}S3 Object List{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-12-xs">
      <h3>Bucket Info</h3>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <p class="bg-info" style="padding: 15px;">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
          </p>
        {% endif %}
      {% endwith %}
      <hr>

      <table class="table table-striped">
        <tr>
          <th>Filename</th>
          <th>Last Modified</th>
          <th>Type</th>
          <th></th>
        </tr>
        {% for key in keys %}
        <tr>
          <td>{{ key }}</td>
          <td>
            <a href="{{ url_for('get_resource', key=key) }}" target="_blank">
              <img src="{{ url_for('get_thumbnail', key=key) }}" height="60">
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
